.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurez-vous que le modal est au-dessus de tout le reste */
}

.modal-content {
    background: white;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    position: relative;
    z-index: 1001; /* Pour s'assurer que le contenu du modal est au-dessus de l'overlay */
}
